.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.links {
  color: #bfffc3;
  font-size: 18px;
  flex-flow: 1;
  text-align: center;
}

.links a {
  margin: 0 8px;
}
